$def with (page, user, stylesheets=[])

<html>
<head>
    <title>$page.title (infogami)</title>
    <style type="text/css">
    .login { text-align: right; }
    .login, .status { color: lightgray }
    .login :link, .login :visited, .status :link, .status :visited { color: gray; text-decoration: underline;}

    .linky {
        color: blue; background-color: transparent;
        border: none; cursor: pointer;
        font-size: 1em; margin: 0px; padding: 0px; vertical-align: bottom;
        display: inline;
        text-align: right;
     }
    </style>
$for s in stylesheets:
    <link rel="stylesheet" type="text/css" href="$s">
</head>
<body>
$if user:
    <form action="$url('/logout')" method='POST'>
    <p class="login"><strong>$user.name</strong>
    [<button class="linky" type="submit">logout</button>]
    </p>
    </form>
$else:
    <p class="login">[$:link('/login', 'log in')]</p>

<h1>$page.title</h1>
<p>
$:page
</p>
</body>
</html>
