$def with (page, user, stylesheets=[])

<html>
<head>
    <title>$page.title (infogami)</title>
    <style type="text/css">
    .login { text-align: right; }
    .login, .status { color: lightgray }
    .login :link, .login :visited, .status :link, .status :visited { color: gray; text-decoration: underline;}
    </style>
$for s in stylesheets:
    <link rel="stylesheet" type="text/css" href="$s">
</head>
<body>
$if user:
    <p class="login"><strong>$user.name</strong> [$:link('/logout', 'log out')]</p>
$else:
    <p class="login">[$:link('/login', 'log in')]</p>

<h1>$page.title</h1>
<p>
$:page
</p>
</body>
</html>
