$def with (p, name)

<table>
    <tr>
        <td>Name</td>
        <td>$:render_input("type/string", name + ".name", p.name)</td>        
    </tr>
    <tr>
        <td>Type</td>
        <td>$:render_input("type/type", name + ".type", p.d.get('type'))</td>
    </tr>
    <tr>
        <td>Unique</td>
        <td>$:render_input("type/boolean", name + ".unique", p.d.get('unique'))</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>$:render_input("type/string", name + ".description", p.d.get('description'))</td>
    </tr>
</table>
<br/>