$def with (a, b)

$add_stylesheet('/static/diff.css')

$var title: $_.DIFF

<div id="header">
    <div style="float:left;padding-left:10px;padding-right:15px;"></div>
    <span class="pretitle">Currently viewing the differences for $a.name<br /></span>
</div>

<div class="diff-border">
<div class="diff">

    <table class="sidebyside" cellpadding="0" cellspacing="0" border="0" summary="$_.DIFFERENCES">
       <colgroup class="l"><col class="lineno" /><col class="content" /></colgroup>
       <colgroup class="r"><col class="lineno" /><col class="content" /></colgroup>
       <thead>
           <tr> 
              <td colspan="2" class="diff-header-top">$_.REVISION $a.v.revision</td> 
              <td colspan="2" class="diff-header-top">$_.REVISION $b.v.revision</td>
           </tr>
       </thead>
       <tbody>
$for p in a.type.properties:
    $:thingdiff(p.d.type, p.name, a.d.get(p.name), b.d.get(p.name))

    </tbody>
    </table>
       
   <div id="legend">
       <h3>$_.LEGEND:</h3>
       <dl>
           <dt class="unmod"></dt><dd>$_.UNMODIFIED</dd>
           <dt class="add"></dt><dd>$_.ADDED</dd>
           <dt class="rem"></dt><dd>$_.REMOVED</dd>
           <dt class="mod"></dt><dd>$_.MODIFIED</dd>
       </dl>
    </div>
    
</div>
</div>
