$def with (page, preview=False)

$var title: Edit $page.data.title

<p>[<a href="$changequery(m=None)">view</a>][<a href="$changequery(m='history')">history</a>]</p>

$if preview:
    <p>$:format(page.data.body)</p>

<form method="post" action="">

<strong>title</strong> <input type="text" name="title" value="$page.data.title" /><br />
<strong>template</strong> <input type="text" name="template" value="$page.data.template" /><br />
<textarea name="body" rows="15" cols="80">$page.data.body</textarea>

<p>
<input type="submit" name='clicked' value="Save" />
<input type="submit" name='clicked' value="Preview" />
</p>
</form>
