$def with (page)

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$page.title ($_.site_title)</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" media="all" />

$for s in ctx.stylesheets:
    <link rel="stylesheet" type="text/css" href="$s">

$for jsurl in ctx.javascripts:
    <script type="text/javascript" src="$jsurl"></script>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="menu">
            $if ctx.user:
                <form name='logout' action="$homepath()/account/logout" method='POST'></form>
                $:_.welcome_user(homepath() + ctx.user.key, ctx.user.displayname)
                | <a href="$homepath()/account/preferences">$_.preferences</a>
                | <a href="#" onclick="document.forms['logout'].submit()">$_.logout</a>
            $else:
                <a href="/account/login">$_.login</a>
        </div>

        <div id="title"><a href="/">$_.site_title</a></div>
        <!--
        <div id="subtitle">$_.site_subtitle</div>
        -->

       <script>
       function setlang(lang) {
           document.cookie = "HTTP_LANG=" + lang + "; path=/;";
           window.location.reload()
       }
       </script>
    </div>

    <div id="content">
        <div class="flash-messages">
        $for flash in get_flash_messages():
            <div class="$flash.type">$flash.message</div>
        </div>

        <h1>$page.title</h1>

        $:page
   </div>
   <div id="footer">
        $:_.powered_by_infogami("http://infogami.org")
   </div>
   </div>
</body>
</html>

