$def with (versions)

$var title: history

<p>[<a href="$changequery(m=None)">view</a>][<a href="$changequery(m='edit')">edit</a>]</p>

<form>
<table>
<tr>
  <th></th>
  <th></th>
  <th></th>
  <th>who</th>
  <th>when</th>
</tr>
$for v in versions:
    <tr>
      <td><input type="radio" name="a" value="$numify(v.created)"></td>
      <td><input type="radio" name="b" value="$numify(v.created)"></td>
      <td><a href="$changequery(m='edit', v=numify(v.created))">edit</a></td>
      <td>$v.author</td>
      <td><a href="$changequery(m=None, v=numify(v.created))">$datestr(v.created)</a></td>
      <td>
    </tr>
</table>
<input type="hidden" name='m' value="diff">
<input type="submit" value="Compare">
</form>
