$def with (page)

$ _e = i18n.get_namespace('/mode/edit')
$ _t = i18n.get_namespace('/type/page')

$var title: $_e.edit_title(page.title)


<form name="edit" method="post" action="">

$:macros.TypeChanger(page.type)

<strong>$_t.title</strong> <input type="text" name="title" value="$page.title" /><br />
<textarea name="body" rows="15" cols="80">$page.body</textarea>

<p>$:_e.edit_summary<br />
<input type="text" name="_comment" value="$page.comment_" />
</p>

<p>
<input type="submit" name='_save' value="$_e.save" />
<input type="submit" name='_preview' value="$_e.preview" />
<input type="submit" name='_delete' value="$_e.delete" />
</p>
</form>
